<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>首页</title>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="../../../css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../css/bootstrap-datetimepicker.css">
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="../../../js/jquery.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="../../../js/bootstrap.min.js"></script>
  <script src="../../../js/bootstrap-datetimepicker.js"></script>
  <script src="../../../js/bootstrap-datetimepicker.zh-CN.js"></script>
</head>

<body>
<div style="padding:0px; margin:0px;">
  <ul class="breadcrumb" style="  margin:0px; ">
    <li><a href="#">班级管理</a></li>
    <li>修改班级</li>
  </ul>
</div>

<form action="" method="post" class="form-horizontal">

  <h5 class="page-header alert-info" style="padding:10px; margin:0px; margin-bottom:5px;">基本信息</h5>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">班级编号</label>
        <div class="col-sm-9">
          <input type="text" disabled name="" th:value="${clazz.id}" class="form-control input-sm input-id" placeholder="请输入编号"/>
        </div>
      </div>

    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">班级名称</label>
        <div class="col-sm-9">
          <input type="text" name="" th:value="${clazz.name}" class="form-control input-sm input-name" placeholder="请输入班级名称"/>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">开班日期</label>
        <div class="col-sm-9">
          <input type="text" name="" th:value="${#dates.format(clazz.startTime, 'yyyy-MM-dd')}" class="form-control input-sm input-startTime" placeholder="请输入开班日期"/>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">结束日期</label>
        <div class="col-sm-9">
          <input type="text" name="" th:value="${#dates.format(clazz.endTime, 'yyyy-MM-dd')}"  class="form-control input-sm input-endTime" placeholder="请输入结束日期"/>
        </div>
      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">班级人数</label>
        <div class="col-sm-9">
          <input type="text" name="" th:value="${clazz.number}" class="form-control input-sm input-number" placeholder="请输入班级人数"/>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">教师</label>
        <div class="col-sm-9">
          <select name="" class="form-control input-sm input-teacherId">
            <option th:each="teacher : ${teachers}" th:text="${teacher.name}" th:selected="(${clazz.teacherId} == ${teacher.id})" th:value="${teacher.id}">张三</option>
          </select>
        </div>
      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">学科</label>
        <div class="col-sm-9">
          <select name="" class="form-control input-sm input-subjectId">
            <option th:each="subject : ${subjects}" th:text="${subject.name}" th:selected="(${clazz.subjectId} == ${subject.id})" th:value="${subject.id}">张三</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">课程表</label>
        <div class="col-sm-9">
          <select name="" class="form-control input-sm input-scheduleId">
            <option th:each="schedule : ${schedules}" th:text="${schedule.name}" th:selected="(${clazz.scheduleId} == ${schedule.id})" th:value="${schedule.id}">张三</option>
          </select>
        </div>
      </div>

    </div>

  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">教室</label>
        <div class="col-sm-9">
          <select name="" class="form-control input-sm input-classroomId">
            <option th:each="classroom : ${classrooms}" th:text="${classroom.name}" th:selected="(${clazz.classroomId} == ${classroom.id})" th:value="${classroom.id}">张三</option>
          </select>
        </div>
      </div>
    </div>

  </div>
  <h5 class="page-header alert-info" style="padding:10px; margin:0px; margin-bottom:5px;">描述</h5>
  <div class="row">
    <div class="col-sm-10">
      <div class="form-group">
        <label class="col-sm-3 control-label">描述</label>
        <div class="col-sm-9">
          <textarea th:text="${clazz.description}" class="form-control input-description"></textarea>
        </div>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-sm-3 col-sm-offset-4">
      <input type="submit" class="btn btn-success btn-save" value="保存"/>

      <a class="btn btn-warning" href="javascript:history.go(-1);">返回上一级</a>
    </div>
  </div>
</form>
<script>
  //初始化日期插件
  $(".input-startTime,.input-endTime").datetimepicker({
    language: 'zh-CN',
    weekStart: 1,
    todayBtn: 1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0,
    format: "yyyy-mm-dd"
  });
  update();

  function update(){
    //更新学生
    $(".btn-save").on("click", function (e) {
      e.preventDefault();
      var id = $(".input-id").val();
      var name = $('.input-name').val();
      var startTime = $(".input-startTime").val();
      var endTime = $(".input-endTime").val();
      var number = $(".input-number").val();
      var teacherId = $(".input-teacherId option:selected").val();
      var scheduleId = $(".input-scheduleId option:selected").val();
      var subjectId = $(".input-subjectId option:selected").val();
      var classroomId = $(".input-classroomId option:selected").val();
      var description = $(".input-description").val();
      $.ajax({
        url: '/clazz',
        method: 'PUT',
        data: JSON.stringify({
          id: id,
          name:name,
          startTime:startTime,
          endTime:endTime,
          number:number,
          teacherId:teacherId,
          scheduleId:scheduleId,
          subjectId:subjectId,
          classroomId:classroomId,
          description:description
        }),
        dataType: 'html',
        contentType: 'application/json',
        success: function (data) {
          console.log(data);
          location.reload();
        }
      });
    });
  }
</script>
</body>
</html>
