<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>首页</title>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="../../../css/bootstrap.min.css">
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="../../../js/jquery.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="../../../js/bootstrap.min.js"></script>
</head>

<body>
<div style="padding:0px; margin:0px;">
  <ul class="breadcrumb" style="  margin:0px; ">
    <li><a href="#">系统管理</a></li>
    <li>角色管理</li>
    <li>角色变更</li>
  </ul>
</div>

<form action="" class="form-horizontal">

  <h5 class="page-header alert-info" style="padding:10px; margin:0px; margin-bottom:5px;">基本信息</h5>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">编号</label>
        <div class="col-sm-9">
          <p class="form-control-static input-staffId" th:text="${staff.id}">10001</p>
        </div>
      </div>

    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">姓名</label>
        <div class="col-sm-9">
          <p class="form-control-static" th:text="${staff.name}">张三</p>
        </div>
      </div>
    </div>

  </div>
  <!-- 开始2 -->
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">年龄</label>
        <div class="col-sm-5">
          <p class="form-control-static" th:text="${staff.age}">18</p>
        </div>
      </div>

    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">性别</label>
        <div class="col-sm-4" th:switch="${staff.sex}">
          <p class="form-control-static" th:case="0">男</p>
          <p class="form-control-static" th:case="1">女</p>
          <p class="form-control-static" th:case="2">保密</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 结束2 -->
  <!-- 开始3 -->
  <div class="row">

    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">角色</label>
        <div class="col-sm-6">
          <select class="form-control input-sm input-roleId" th:object="${roles}">
            <option th:value="${role.id}" th:each="role : ${roles}" th:text="${role.name}" th:selected="(${staff.roleId} == ${role.id})">java程序员</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <!-- 结束3 -->
  <div class="row">
    <div class="col-sm-5 col-sm-offset-4">
      <input type="submit" class="btn btn-success btn-save" value="角色变更"/>
      <a class="btn btn-warning" href="javascript:history.go(-1);">返回上一级</a>

    </div>
  </div>
</form>
<script>
  $(".btn-save").on("click", function (e) {
    e.preventDefault();
    var staffId = $(".input-staffId").text();
    var roldId = $(".input-roleId option:selected").val();
    var url = "/staff/"+staffId+"/role/"+roldId;
    $.ajax({
      url:url,
      method:'PUT',
      success: function (data) {
        console.log(data);
        location.reload();
      }
    });
  });
</script>
</body>
</html>
