<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>首页</title>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="../../../css/bootstrap.min.css">
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="../../../js/jquery.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="../../../js/bootstrap.min.js"></script>
</head>

<body>
<div style="padding:0px; margin:0px;">
  <ul class="breadcrumb" style="  margin:0px; ">
    <li><a href="#">系统管理</a></li>
    <li>角色管理</li>
  </ul>
</div>
<div class="row alert alert-info" style="margin:0px; padding:3px;">
  <form class="form-horizontal">
    <div class="col-sm-2">角色名称:</div>
    <div class="col-sm-3">
      <input type="text" class="form-control input-sm input-find"/>
    </div>
    <input type="button" class="btn btn-danger btn-find" value="查询"/>
    <input type="button" class="btn btn-success" value="添加" onClick="javascript:window.location='roleinfo_add.html'"/>
  </form>
</div>
<div class="row" style="padding:15px; padding-top:0px; ">
  <table class="table table-condensed table-striped">
    <tr class="table-tr">
      <th>角色编号</th>
      <th>角色名称</th>
      <th>角色描述</th>
      <th>操作</th>
    </tr>
  </table>
</div>
<script>
  showAllRole();
  findRole();
  function showAllRole() {
    //展示所有角色信息
    var url = '/roles';
    var html = '';
    $.ajax({
      url: url,
      method: 'GET',
      success: function (data) {
        $.each(data, function (key, val) {
          html += '<tr class="role-tr"><td>' + val.id + '</td>' +
              '<td>' + val.name + '</td>' +
              '<td>' + val.description + '</td>' +
              '<th><a href=' + "/role/" + val.id + "/update" + '>修改</a> <a  href="javascript:void(0);" onclick="deleteRole(' + val.id + ')" data-id="' + val.id + '" class="btn-delete">删除</a></th></tr>  ';
        });
        $(".table-tr").after(html);
      }
    });

  }

  function findRole() {
    $(".btn-find").on("click", function () {
      var findText = $(".input-find").val();
      for (var i = 0; i < $(".role-tr").length; i++) {
        $(".role-tr").eq(i).show();
        if (!$(".role-tr").eq(i).find("td").eq(1).is(":contains(" + findText + ")")) {
          $(".role-tr").eq(i).hide();
        } else {
          $(".role-tr").eq(i).show();
        }
      }
    });
  }

  //删除角色
  function deleteRole(id) {
    $.ajax({
      url: '/role/' + id,
      method: 'DELETE',
      success: function (data) {
        console.log(data);
        location.reload();
      }
    });
  }
</script>
</body>
</html>
