<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>首页</title>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="../../../css/bootstrap.min.css">
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="../../../js/jquery.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="../../../js/bootstrap.min.js"></script>
</head>

<body>
<div style="padding:0px; margin:0px;">
  <ul class="breadcrumb" style="  margin:0px; ">
    <li><a href="#">系统管理</a></li>
    <li>员工管理</li>
    <li>查看员工信息</li>
  </ul>
</div>

<form action="" class="form-horizontal">
  <h5 class="page-header alert-info" style="padding:10px; margin:0px; margin-bottom:5px;">基本信息</h5>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">编号</label>
        <div class="col-sm-9">
          <p class="form-control-static staff-id" th:text="${staff.id}">10001</p>
        </div>
      </div>

    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">姓名</label>
        <div class="col-sm-9">
          <p class="form-control-static" th:text="${staff.name}">张三</p>
        </div>
      </div>
    </div>

  </div>
  <!-- 开始2 -->
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">年龄</label>
        <div class="col-sm-5">
          <p class="form-control-static" th:text="${staff.age}">18</p>
        </div>
      </div>

    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">性别</label>
        <div class="col-sm-4" th:switch="${staff.sex}">
          <p class="form-control-static" th:case="0">男</p>
          <p class="form-control-static" th:case="1">女</p>
          <p class="form-control-static" th:case="2">保密</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 结束2 -->
  <!-- 开始3 -->
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">籍贯</label>
        <div class="col-sm-6">
          <p class="form-control-static" th:text="${staff.province}">上海</p>
        </div>
      </div>

    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">身份证</label>
        <div class="col-sm-9">
          <p class="form-control-static" th:text="${staff.idcard}">5001231010xxxxxxxxx</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 结束3 -->
  <!-- 开始4 -->
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">出生日期</label>
        <div class="col-sm-9">
          <p class="form-control-static" th:text="${#dates.format(staff.birthday, 'yyyy-MM-dd')}">2001-01-01</p>
        </div>
      </div>

    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">办公电话</label>
        <div class="col-sm-9">
          <p class="form-control-static" th:text="${staff.tel}">0123-123131231-11</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 结束4 -->
  <!-- 开始4 -->
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">电子邮件</label>
        <div class="col-sm-9">
          <p class="form-control-static" th:text="${staff.email}">0xxxxxxx@qq.com</p>
        </div>
      </div>

    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">移动电话</label>
        <div class="col-sm-9">
          <p class="form-control-static" th:text="${staff.phone}">14233993345</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 结束4 -->
  <!-- 开始5 -->
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">家庭住址</label>
        <div class="col-sm-9">
          <p class="form-control-static" th:text="${staff.address}">上海浦东新区xxx街xxx号</p>
        </div>
      </div>

    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">QQ</label>
        <div class="col-sm-9">
          <p class="form-control-static" th:text="${staff.qq}">xxxxxxx</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 结束5 -->
  <!-- 开始6 -->
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">入职时间</label>
        <div class="col-sm-9">
          <p class="form-control-static" th:text="${#dates.format(staff.hireTime, 'yyyy-MM-dd')}">2014-10-29 24:41:12</p>
        </div>
      </div>

    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">教育水平</label>
        <div class="col-sm-6">
          <p class="form-control-static" th:text="${staff.education}">博士</p>
        </div>
      </div>
    </div>
  </div>
  <!-- 结束6 -->
  <h5 class="page-header alert-info" style="padding:10px; margin:0px; margin-bottom:5px;">备注信息</h5>
  <div class="row">
    <div class="col-sm-10">
      <div class="form-group">
        <label class="col-sm-3 control-label">备注</label>
        <div class="col-sm-9">
          <p class="form-control-static" th:text="${staff.remark}">
            今天晚上吃泡面今天晚上吃泡面今天晚上吃泡面今天晚上吃泡面今天晚上吃泡面今天晚上吃泡面今天晚上吃泡面今天晚上吃泡面今天晚上吃泡面今天晚上吃泡面今天晚上吃泡面</p>
        </div>
      </div>

    </div>

  </div>
  <h5 class="page-header alert-info" style="padding:10px; margin:0px; margin-bottom:5px;">账号信息</h5>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">账号</label>
        <div class="col-sm-9">
          <p class="form-control-static" th:text="${staff.username}">admin</p>
        </div>
      </div>

    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label class="col-sm-3 control-label">密码</label>
        <div class="col-sm-9">
          <p class="form-control-static" th:text="${staff.password}">admin123456</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 col-sm-offset-4">
      <a th:href="'/staff/'+ ${staff.id}+'/update'" class="btn btn-success">修改</a>
      <input type="button" class="btn btn-danger btn-delete" data-id="" value="删除"/>
      <input type="button" class="btn btn-warning" value="返回上一级"/>
    </div>
  </div>
</form>
<script>
  //返回上一级
  $(".btn-warning").on("click", function () {
    history.go(-1);
  });

  //删除员工
  $(".btn-delete").on("click", function (e) {
    e.preventDefault();
    var id = $(".staff-id").text();
    $.ajax({
      url:'/staff/'+id,
      method:'DELETE',
      success:function(data){
        console.log(data);
        location.reload();
      }
    });
  });
</script>
</body>
</html>
