<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>首页</title>
  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="../../../css/bootstrap.min.css">
  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="../../../js/jquery.min.js"></script>
  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="../../../js/bootstrap.min.js"></script>
</head>

<body>
<div style="padding:0px; margin:0px;">
  <ul class="breadcrumb" style="  margin:0px; ">
    <li><a href="#">学员管理</a></li>
    <li>学员沟通记录</li>
  </ul>
</div>
<form class="form-inline">
  <div class="row alert alert-info" style="margin:0px; padding:3px;">

    <div class="form-group">
      <label class="" for="activename">学员姓名：</label>
      <input type="text" class="form-control input-find" id="activename" placeholder="请输入学员姓名">
    </div>

    <input type="button" class="btn btn-danger btn-find" value="查询"/>
    <a class="btn btn-success" href="/communication/add">添加沟通记录</a>

  </div>
  <div class="row" style="padding:15px; padding-top:0px; ">
    <table class="table  table-condensed table-striped">
      <tr class="table-tr">
        <th>编号</th>
        <th>学员姓名</th>
        <th>沟通内容</th>
        <th>沟通时间</th>
        <th>操作</th>
      </tr>
    </table>
  </div>
</form>
<script>
  showStu();
  function showStu() {
    //展示所有角色信息
    var url = '/communications';
    var html = '';
    $.ajax({
      url: url,
      method: 'GET',
      success: function (data) {
        $.each(data, function (key, val) {
          html += '<tr class="stu-tr"><td>' + val.id + '</td>' +
              '<td>' + val.student.name + '</td>' +
              '<td>' + val.content + '</td>' +
              '<td>' + new Date(val.time).toLocaleDateString() + '</td>' +
              '<th><a href=' + "/communication/" + val.id + "/update" + '>修改</a> <a  href="javascript:void(0);" onclick="deleteStu(' + val.id + ')" data-id="' + val.id + '" class="btn-delete">删除</a></th></tr>  ';
        });
        $(".table-tr").after(html);
      }
    });

  }

  findStu();
  function findStu() {
    //查询员工信息
    $(".btn-find").on("click", function () {
      var findText = $("#activename").val();
      console.log(findText);
      for (var i = 0; i < $(".stu-tr").length; i++) {
        $(".stu-tr").eq(i).show();
        if (!$(".stu-tr").eq(i).find("td").eq(1).is(":contains(" + findText + ")")) {
          $(".stu-tr").eq(i).hide();
        } else {
          $(".stu-tr").eq(i).show();
        }
      }
    });
  }
  //删除学生
  function deleteStu(id) {
    $.ajax({
      url: '/communication/' + id,
      method: 'DELETE',
      success: function (data) {
        console.log(data);
        location.reload();
      }
    });
  }
</script>
</body>
</html>
