<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="f4.web.dao.AuditionDao">

    <resultMap id="BaseResultMap" type="audition">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="lesson" property="lesson" jdbcType="VARCHAR"/>
        <result column="student_id" property="studentId" jdbcType="INTEGER"/>
        <result column="time" property="time" jdbcType="DATE"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="desecration" property="desecration" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, lesson, student_id, time, address, desecration
    </sql>

</mapper>