<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="f4.web.dao.EmailDao">

    <resultMap id="BaseResultMap" type="email">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="send" property="send" jdbcType="VARCHAR"/>
        <result column="receive" property="receive" jdbcType="VARCHAR"/>
        <result column="time" property="time" jdbcType="DATE"/>
        <result column="receive_address" property="receiveAddress" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, send, receive, time, receive_address, title, content
    </sql>

</mapper>