<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="f4.web.dao.ScheduleDao">

    <resultMap id="BaseResultMap" type="schedule">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="monday" property="monday" jdbcType="VARCHAR"/>
        <result column="tuesday" property="tuesday" jdbcType="VARCHAR"/>
        <result column="wednesday" property="wednesday" jdbcType="VARCHAR"/>
        <result column="thursday" property="thursday" jdbcType="VARCHAR"/>
        <result column="friday" property="friday" jdbcType="VARCHAR"/>
        <result column="saturday" property="saturday" jdbcType="VARCHAR"/>
        <result column="sunday" property="sunday" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, monday, tuesday, wednesday, thursday, friday, saturday, sunday
    </sql>

</mapper>